@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply transition text-2xl;
    }
    h3 {
      @apply transition text-xl;
    }
    p {
      @apply transition text-lg;
    }
    /* remove arrows from number input */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@layer components {
    .page {
      @apply flex-grow min-h-full pb-14 md:pb-0 h-fit w-full bg-gradient-to-b from-[#000000] to-[#15162c];
    }
    .nav {
      @apply centered bg-none p-0 relative h-full w-auto list-none;
    }
    .nav-mobile {
      @apply bg-gradient-to-br from-black to-stone-950 px-10 flex items-center justify-around list-none fixed bottom-0 left-0 h-14 w-full z-[100];
    }
    .nav-link {
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    }
    .nav-link-txt {
      @apply hidden md:block whitespace-nowrap antialiased hover:subpixel-antialiased font-poppins font-normal text-white m-2;
    }
    .price-tile {
      @apply border-[1px] w-64 min-h-[16rem] md:w-72 md:min-h-[18rem] p-4 bg-zinc-950 bg-gradient-to-r from-black to-stone-950 rounded-xl flex flex-col items-center justify-between;
    }
    .price-tile-h2 {
      @apply font-poppins font-normal self-center w-fit text-xl border-b-2 border-stone-900;
    }
    .price-tile-ul {
      @apply w-full list-outside list-disc mt-4 pl-6 pr-2 font-barlow text-sm md:text-base subpixel-antialiased text-stone-400;
    }
    .price-tile-btn {
      @apply hover:brightness-125 w-4/5 h-6 p-4 rounded-md font-barlow font-semibold bg-green-800 text-stone-950;
    }
    .price-tile-span {
      @apply w-full h-full rounded-md centered;
    }
  }
  
@layer utilities {
    .centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .glow-sm {
      text-shadow: 0px 2px 4px #64e995c2;
    }
    .glow-lg {
      text-shadow: 0px 2px 10px #64e995c2;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

html, body {
  overflow-x: hidden;
  background: black;
}



